(origin_tls) {
    tls /certs/origin.pem /certs/origin-key.pem
    encode gzip
}

(header_secure) {
    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer"
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
}

# Public (CloudFlare)

vestige-lab.xyz {
    import origin_tls
    import header_secure
    root * /srv
    file_server
}

media.vestige-lab.xyz {
    import origin_tls
    import header_secure
    reverse_proxy jellyfin:8096
}


# Internal (access via Tailscale)

http://torrent.vestige.internal {
    reverse_proxy qbittorrent:8080
}

http://prowlarr.vestige.internal {
    reverse_proxy prowlarr:9696
}

http://radarr.vestige.internal {
    reverse_proxy radarr:7878
}

http://sonarr.vestige.internal {
    reverse_proxy sonarr:8989
}


